{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {% block stylesheets %}

            <link rel="stylesheet"
                  href="//aui-cdn.atlassian.com/aui-adg/5.9.0/css/aui.css"
                  media="all">
            <link rel="stylesheet"
                  href="//aui-cdn.atlassian.com/aui-adg/5.9.0/css/aui-experimental.css"
                  media="all">
            <link rel="stylesheet" href="{% static "css/pygments.css" %}">
            <link rel="stylesheet" href="{% static "css/guidelines.css" %}">
        {% endblock %}
    {% endblock %}
</head>
<body class="{% block body_classes %}{% endblock %}">
{% block body %}
{% endblock %}

{% block scripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.0/js/aui.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.0/js/aui-experimental.js"></script>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.0/jquery.scrollTo.min.js"></script> -->
{% endblock %}
</body>
</html>
