{% extends "base.html" %}

{% load staticfiles %}

{% block body %}
<!-- Dialog header -->
<section id="content" class="ac-content main-content" role="main">
    <header class="aui-dialog2-header">
        <!-- The dialog's title -->
        <h2 class="aui-dialog2-header-main">
            Pull request guidelines
            <a href="{% url 'help.homepage' %}" target="_blank">
                <span id="more-info-icon" class="aui-icon aui-icon-small aui-iconfont-info" title="Tell me more"></span>
            </a>
        </h2>
        <!-- Actions to render on the right of the header -->
        <!-- Close icon -->
        <a class="aui-dialog2-header-close">
            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
        </a>
    </header>
    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            {% block dialog_content %}{% endblock %}
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script data-requirecontext="_" data-requiremodule="connect-bitbucket" src="{{ request.bb.host }}/atlassian-connect/all.js"></script>
<script src="{% static "js/dialog.js" %}"></script>
{% endblock %}
