{% extends 'static_base.html' %}

{% load staticfiles md %}

{% block content %}
{% markdown %}
    ![Overview]({% static "img/overview.gif" %} Overview)

    # What is it?

    Pull request guidelines is just a checklist for your repos. It helps you
    and your team follow a common set of guidelines for development and for
    reviewing work. It's a mechanism to avoid making the same mistakes
    repeatedly and to follow the best practices in your team.

    # Installation

    After you click on the button below to start the installation, choose
    the account you want this add-on to be installed in and click
    "Grant access". That's it!
{% endmarkdown %}

    <p>
        <a class="aui-button aui-button-primary"
           target="_blank"
           href="{{ BITBUCKET_URL }}/site/addons/authorize?descriptor_uri={{ CANON_URL|urlencode }}{% url 'bitbucket.descriptor' %}&redirect_uri={{ CANON_URL|urlencode }}{% url 'help.installation_redirect' %}">
            Click here to start installation
        </a> (opens in new tab)
    </p>

{% markdown %}
    ![Installation dialog]({% static "img/installation_dialog.png" %} Installation dialog)

    # Usage

    The add-on parses the `CONTRIBUTING.md` file in any repository to generate
    the checklist that you see above. Here's an example of a valid
    CONTRIBUTING.md:

    ```moin
    This file contains guidelines that should be followed when making any
    changes to the repository. All text before the first level 1 (L1) header
    will be ignored by the Pull request guidelines add-on.

    # Guidelines for writing guidelines (L1 header for topics)

    We'll go a little meta here and explain how to write good guidelines using
    the guidelines markdown syntax.

    (Some text can go here to introduce the reader to this topic. All text
    between a level 1 heading and a level 2 heading will show up in the
    dialog in the pull request, but will not be actionable.)

    ## Get buy-in from your team (L2 header for guidelines)

    These guidelines don't mean much if a lot of people in your team disagree
    with them. So if you're making a change to the CONTIRBUTING.md file, make
    sure to use get the change reviewed by members of your team who are
    subject-matter experts on the topic using a pull request.

    While it may be impossible to get everybody to agree to everything, make
    sure that most people agree with the guidelines at all times.

    ## Good guidelines are specific and measurable

    It is really hard to follow vague guidelines. For example "Write pretty
    Python code" is a very vague guideline and could easily spark disagreement
    between the author and the reviewers of the pull request. On the other
    hand, "Write PEP8 compliant Python code" is a much better guideline. It
    specifies exactly what is required and how to test whether the guideline
    is being followed.

    # Yet another topic (add as many topics as you need)

    ## You get the idea

    Now go install the add-on and create your own CONTRIBUTING.md file.
    ```

    # Where do I go to report issues?

    Problems with this add-on can be reported using the
    [Bitbucket issue tracker](https://bitbucket.org/atlassianlabs/prguidelines/issues)
    for this addon.

{% endmarkdown %}
{% endblock %}
