{% extends 'static_base.html' %}

{% load staticfiles %}

{% block content %}
    <section class="aui-page-panel-content">
        <div class="aui-group">
            <div class="aui-item col1">
                {% if error %}
                    <img src="{% static 'img/skull_and_bones.png' %}"/>
                {% else %}
                    <img src="{% static 'img/space_shuttle.png' %}"/>
                {% endif %}
            </div>
            <div class="aui-item col3">
                {% if error %}
                    <h2>
                        Installation failed
                        <span id="installation-failed-icon"
                              class="aui-icon aui-iconfont-error aui-icon-large">
                        </span>
                    </h2>
                    <p>
                        Error: {{ error_description }}
                    </p>
                    <p>
                        Seems like something went wrong with the installation.
                        Please
                        file a ticket
                        <a href="https://bitbucket.org/atlassianlabs/prguidelines/issues"
                           target="_blank">here</a>,
                        if you think there is something wrong with this add-on.
                    </p>
                    <p>
                        <a class="aui-button aui-button-primary"
                           href="https://bitbucket.org/site/addons/authorize?descriptor_uri={{ CANON_URL|urlencode }}{% url 'bitbucket.descriptor' %}&redirect_uri={{ CANON_URL|urlencode }}{% url 'help.installation_redirect' %}">
                            Click here to try again
                        </a>
                    </p>
                {% else %}
                    <h1>
                        Installation successful
                        <span id="installation-succeeded-icon"
                              class="aui-icon aui-iconfont-success aui-icon-large">
                        </span>
                    </h1>
                    <p>
                        Thank you for installing pull request guidelines. If
                        you have any
                        feedback, please feel free to share it
                        <a href="https://bitbucket.org/atlassianlabs/prguidelines/issues"
                           target="_blank">here</a>.
                    </p>
                    <p>
                        To learn more about using pull request guidelines, click
                        <a href="{% url 'help.homepage' %}">here</a>.
                    </p>
                    <p>
                        If you like pull request guidelines, please share the
                        love:
                        {% include 'tweet.html' %}
                    </p>
                    <p>
                        Feel free to close this window, or just go over to
                        <a href="{{ BITBUCKET_URL }}">Bitbucket</a> and use
                        pull request guidelines.
                    </p>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
