{% extends 'base.html' %}

{% block body_classes %}aui-page-fixed{% endblock %}

{% block body %}
    <div id="page">
        <section id="content" role="main">
            <header class="aui-page-header">
                <div class="aui-page-header-inner">
                    <div class="aui-page-header-main">
                        <h1>Pull request guidelines for Bitbucket</h1>
                    </div>
                </div>
            </header>
            <div class="aui-page-panel">
                <div class="aui-page-panel-inner">
                    <section class="aui-page-panel-content">
                        {% block content %}{% endblock %}
                    </section>
                </div>
            </div>
        </section>
        <footer id="footer" role="contentinfo">
            <section class="footer-body">
                <ul>
                    <li>Made with &hearts; using
                        <a href="https://developer.atlassian.com/bitbucket/"
                           target="_blank">
                            Atlassian Connect for Bitbucket Cloud
                        </a>
                    </li>
                </ul>
                <div id="footer-logo"><a href="http://www.atlassian.com/"
                                         target="_blank">Atlassian</a></div>
            </section>
        </footer>
    </div>
{% endblock %}
