<a href="https://twitter.com/intent/tweet?button_hashtag=prguidelines&text=I%20just%20installed%20the%20pull%20request%20guidelines%20add-on%20on%20%40bitbucket.%20%23programming%20%23agile" class="twitter-hashtag-button" data-size="large" data-related="abhin_chhabra" data-url="https://prguidelines.atlassian.io">Tweet #prguidelines</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
