html, body, .ac-content {
    height: 100%;
}

.col1 {
    width: 25%;
}
.col2 {
    width: 50%;
}
.col3 {
    width: 75%;
}
.col4 {
    width: 100%;
}

#content {
    padding-top: 70px;
}

.aui-page-panel {
    margin-top: 0;
    border-top: 0;
}

.codehilite pre {
    margin-top: 10px;
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow-x: auto;
    padding: 5px 10px;
    word-wrap: normal;
}

code, tt {
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 1px 3px;
}

#more-info-icon {
    vertical-align: middle;
}

#installation-failed-icon {
    color: red;
}

#installation-succeeded-icon {
    color: green;
}

.aui-dialog2-header {
    border-bottom: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    box-sizing: border-box;
    color: #333;
    font-weight: normal;
    height: 69px;
    padding: 0 20px;
    width: 100%;
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.spinner-container {
    height: 16px;
    width: 16px;
    display: inline-block;
}

/* Accordion basics */
.guideline-section {
    margin-left: 10px;
}
.guideline-section h4 {
    margin-top: 10px;
}

/* Accordion list */
.accordion-container > ul > li, .accordion-container .guideline-section {
    list-style-type: none;
}
.accordion-container > ul {
    padding: 0;
}
.accordion-container > ul > li > ul {
    padding-left: 10px;
}

/* Hide the non-active sub-item descriptions by default */
.accordion-container li li .initially-hidden {
    display: none;
}
.accordion-container li.active :not(h3) {
    display: block;
}

/* Wrap the outer headers in boxes */
.accordion-container > ul > li {
    margin-bottom: 20px;
    padding-bottom: 5px;
    border: 1px solid darkgray;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

/* Emphasize the topic headers */
.accordion-container h3 {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #e5e5e5;
}
.accordion-container > ul > li > h3 {
    padding: 10px;
}
.accordion-container > ul > li > p {
    padding: 10px;
    margin: 0;
}
.accordion-container > ul > li > ul {
    padding: 0 10px;
    margin: 0;
}

/* The guidelines should have a hover effect */
.accordion-container h4 {
    cursor: pointer;
    transition: all 0.15s;
    padding-left: 5px;
}
.accordion-container .guideline-section-content {
    padding-left: 5px;
}
.accordion-container h4:hover {
    background: #f5f5f5;
    border-left: 3px solid lightblue;
}
