{% extends "base-dialog.html" %}

{% load staticfiles %}

{% block dialog_content %}
    <section class="aui-page-panel-content">
        <div class="aui-group">
            <div class="aui-item col1">
                <img src="{% static "img/checklist.png" %}" />
            </div>
            <div class="aui-item col3">
                <h3>Get started with a CONTRIBUTING.md file</h3>
                <p>
                    Pull request guidelines is just a checklist for your repos.
                    It helps you and your team follow a common set of
                    guidelines for development and for reviewing work. It's a
                    mechanism to avoid making the same mistakes repeatedly and
                    to follow the best practices in your team.
                </p>
                <p>
                    The best part is that this checklist is maintained in your
                    code using a simple CONTRIBUTING.md file and can go through
                    the same review process as the rest of your code.
                </p>
                <p>
                    <a class="aui-button aui-button-primary"
                       href="{% url 'help.homepage' %}"
                       target="_blank">
                        Learn more to get started
                    </a>
                </p>
            </div>
        </div>
    </section>
{% endblock %}
