{% extends "base-dialog.html" %}

{% load staticfiles %}

{% block dialog_content %}
    <section class="aui-page-panel-content accordion-container">
        <ul>
            {% for topic in guidelines.topics %}
                <li>
                    <h3>{{ topic.title }}</h3>
                    {{ topic.rendered|safe }}
                    <ul>
                        {% for section in topic.sections %}
                            <li class="guideline-section">
                                <h4>
                                    <span class="section-title-text">{{ section.title }}</span>
                                    <button class="aui-button aui-button-subtle aui-button-compact quote-button"
                                            title="Quote this guideline">
                                        <span class="aui-icon aui-iconfont-add-comment aui-icon-small"></span>
                                    </button>
                                    <span class="spinner-container"></span>
                                    <span class="aui-icon aui-iconfont-success aui-icon-small success-icon"
                                          style="display: none"></span>
                                </h4>
                                <div class="guideline-section-content initially-hidden"
                                     data-section-content-raw="{{ section.content }}"
                                     data-source-url="{{ source_url }}">
                                    {{ section.rendered|safe }}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static "js/guidelines/dialog.js" %}"></script>
{% endblock %}
